django>=5.0,<6.0
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-cors-headers>=4.3,<4.4
python-decouple>=3.8,<3.9
python-dotenv>=1.0.0,<2.0.0
stripe>=9.0.0,<10.0.0
openpyxl>=3.1.0
pandas>=2.0.0
celery>=5.3,<5.7
django-celery-results>=2.5,<2.7
sqlalchemy>=2.0.0
django-environ>=0.11.0
django-filter>=24.0
